@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  overflow: clip;
  background: #2F343A;
}

body {
  font-family: "Roboto";
  color: #fff;
}

[class*=__container] {
  max-width: 1112px;
  margin: 0px auto;
}

.header {
  background: #2f343a;
  min-height: 145px;
}
.header__row {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
.menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  color: #C8A35F;
  border-bottom: 2px solid #C8A35F;
}

.main__information {
  background: url("/img/main.webp") center/cover no-repeat;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75))), url("/img/main.webp") center, lightgray 50%/cover no-repeat;
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%), url("/img/main.webp") center, lightgray 50%/cover no-repeat;
}
.information {
  margin-bottom: 100px;
}
.information__text {
  text-align: center;
  max-width: 717px;
  margin: 0px auto;
  padding-top: 30vh;
}
.information__title {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-bottom: 2.8125rem;
}
.information__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 2.1875rem;
}
.information__button {
  margin-bottom: 50px;
  display: inline-block;
  min-width: 200px;
  background: #C8A35F;
  padding: 15px 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.information__button:hover {
  background: #2F343A;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 300px 0px rgb(200, 163, 95);
          box-shadow: 0px 0px 300px 0px rgb(200, 163, 95);
}
.information__button:active {
  background: #2F343A;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 150px 0px rgb(200, 163, 95);
          box-shadow: 0px 0px 150px 0px rgb(200, 163, 95);
}
.information__button span {
  text-transform: uppercase;
}
.information__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}
.information__link {
  margin-bottom: 100px;
}
.information__logo {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 10vh;
}
.information__logo:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.transfer__title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.transfer__title span {
  color: #C8A35F;
}
.cards {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}
.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}
.cards__item {
  background: rgba(36, 40, 46, 0.256);
  text-align: center;
  max-width: 300px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding: 15px 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.cards__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #C8A35F;
}
.cards__icon {
  max-width: 150px;
}
.cards__title {
  font-size: 32px;
  text-transform: uppercase;
}
.cards__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
}

.main__comunnication {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75))), url("/img/ford-png.jpeg") center/cover, lightgray 50%/cover no-repeat;
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%), url("/img/ford-png.jpeg") center/cover, lightgray 50%/cover no-repeat;
}
.comunnication {
  padding: 15%;
}
.comunnication:not(:last-child) {
  margin-bottom: 100px;
}
.comunnication__form {
  border-radius: 10px;
  padding: 25px 20px;
  max-width: 550px;
  margin: 0px auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.693);
}
.comunnication__input {
  width: 50%;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
}
.comunnication__input:not(:last-child) {
  margin-bottom: 25px;
}
.comunnication__title {
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px;
}
.comunnication__subtitle {
  margin-bottom: 25px;
  font-size: 20px;
}
.comunnication__button {
  display: block;
  min-width: 150px;
  margin: 0px auto;
  background: #23568e;
  padding: 15px 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.comunnication__button:hover {
  background: #0d2c4d;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.comunnication__button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.main__services {
  margin-bottom: 100px;
}

.services__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 45px;
  font-weight: 700;
}
.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
}
.services__img {
  overflow: hidden;
  height: 250px;
}
.services__image {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 450px;
  height: 250px;
  margin-bottom: 30px;
}
.services__image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}
.services__subtitle {
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.main__about span {
  color: #C8A35F;
  font-weight: 700;
}

.about {
  padding: 25px 15px;
  background: #24282d;
}
.about__title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
}
.about__subtitle {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  color: #C8A35F;
  margin-bottom: 20px;
}
.about__description {
  text-indent: 40px;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1.88;
  word-spacing: 1px;
}

.footer {
  background: #eeebeb;
}
.contacts {
  padding: 100px 25px;
  color: #2F343A;
  text-align: center;
}
.contacts__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contacts__subtitle {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}
.contacts__description {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 35px;
}
.contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts__link {
  border: 5px solid #C8A35F;
  border-radius: 50%;
  overflow: hidden;
}
.contacts__icon {
  max-width: 100px;
}
.contacts__icon:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}