@use"sass:math";

@import "_reset.scss";
@import "_common.scss";
@import "_mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Oi:regular);
@import url(https://fonts.googleapis.com/css?family=Handjet:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

.wrapper{
	height: 100%;
	overflow: clip;
}

body{
	font-family: 'Oswald';
}