@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

[class*=__container] {
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  background: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  max-height: 80px;
}
.header__row {
  padding: 22px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__menu {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 50.1875em) {
  .nav__menu {
    display: none;
  }
}
.nav__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nav__item:hover {
  color: #F9995D;
}

.main__build {
  height: 100vh;
  background: url("/img/build-back.jpg") center center/cover no-repeat;
  margin-bottom: 60px;
}

.build {
  position: relative;
}
.build__title {
  color: #292E3D;
  font-size: 72px;
  font-weight: 600;
  line-height: normal;
  padding: 239px 142px;
}
@media (max-width: 67.8125em) {
  .build__title {
    font-size: 34px;
    padding: 100px 22px;
  }
}
.clicker {
  position: absolute;
  right: 0;
  bottom: 3%;
  color: #fff;
  background: #3559C7;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  max-width: 416px;
  max-height: 150px;
  border-radius: 2px 2px 0px 0px;
}
@media (max-width: 20em) {
  .clicker {
    width: 100%;
  }
}
.clicker__title {
  font-weight: 700;
  margin-bottom: 20px;
  padding-top: 20px;
}
.clicker__text {
  max-width: 312px;
  margin: 0px auto;
  padding-bottom: 20px;
}
.clicker__buttons {
  padding: 0px;
  background: #292E3D;
  min-height: 40px;
  width: 100%;
  padding: 10px 20px;
}
.clicker__button {
  min-width: 207px;
  padding: 10px 20px;
}
.clicker__button span {
  text-align: center;
}
.reputation {
  margin-bottom: 158px;
}
.reputation__title {
  color: #292E3D;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.reputation__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reputation__card {
  border-radius: 4px;
  border: 1.4px solid #E0E3EB;
  padding: 20px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 292px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.reputation__card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card__title {
  color: #3D445C;
  font-size: 20px;
  font-weight: 700;
}
.card__description {
  color: #858EAD;
  font-size: 16px;
  font-weight: 400;
}

.about {
  margin-bottom: 202px;
  position: relative;
}
.about__image {
  max-width: 902px;
  overflow: hidden;
}
.about__image img {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.about__image img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.9;
}
@media (max-width: 63.75em) {
  .about__image {
    margin-bottom: 40px;
  }
}
.about__text {
  position: absolute;
  z-index: 25;
  top: 10%;
  left: 60%;
  padding: 50px 60px 60px 40px;
  border-radius: 2px;
  background: #2947A9;
  -webkit-box-shadow: 0px 8px 8px -4px rgba(17, 24, 39, 0.04), 0px 20px 24px -4px rgba(17, 24, 39, 0.1);
          box-shadow: 0px 8px 8px -4px rgba(17, 24, 39, 0.04), 0px 20px 24px -4px rgba(17, 24, 39, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 488px;
  min-height: 523px;
}
@media (max-width: 63.75em) {
  .about__text {
    position: relative;
    top: 0;
    left: 0;
    margin: 0px auto;
  }
}
.about__title {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 37px;
}
.about__description {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}
.about__description:not(:last-child) {
  margin-bottom: 27px;
}
.about__description:last-child {
  margin-bottom: 74px;
}
.about__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 2px solid #2947A9;
  background: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.about__button span {
  color: #2947A9;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.about__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.about__button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.services {
  background: #F6F8F7;
  padding-bottom: 76px;
}
.services__title {
  padding-top: 44px;
  color: #292E3D;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 36px;
}
.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 98px;
     -moz-column-gap: 98px;
          column-gap: 98px;
  row-gap: 48px;
}
.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 181px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
          box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.services__card:nth-child(odd) {
  background: #FFF;
  color: #2947A9;
}
.services__card:nth-child(even) {
  background: #2947A9;
  color: #fff;
}
.services__card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.services__logo {
  width: 40px;
  padding-bottom: 25px;
}
.services__logo:nth-child(even) {
  border-bottom: 1px solid #fff;
}